body {
    background-color: #EFDFFF;
    color: #0F1F2F;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 70rem;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #9F2F1F;
}
h1 {
    text-align: center;
    font-size: 300%;
}
h2 {
}
p, ol {
    margin: 2rem auto;
    max-width: 30rem;
    padding: 0;
    line-height: 2em;
}
li {
    margin: 0.5rem;
    padding: 0;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.boxes article {
    background-color: #EFDFFF;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 1rem 0.5rem;
    min-width: 25rem;
}
.boxes article pre {
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #DFCFEF;
}

footer {
    margin-top: 8rem;
    text-align: center;
}
